#exit-button {
    position: absolute;
    top: 5%;
    left: 2.5%;
    width: 5vh;
    height: 5vh;
    z-index: 1000;
    background-color: transparent;
    font-size: 2vh;
    color: white;
    border: 0.05vh solid white;
    border-radius: 5%;
}

#exit-button:hover {
    background-color: #0056b3;
}

#spawn-button {
    position: absolute;
    bottom: 5%;
    left: 2.5%;
    right: 2.5%;
    height: 5vh;
    z-index: 1000;
    background-color: transparent;
    font-size: 2vh;
    color: white;
    border: 0.05vh solid white;
    border-radius: 1%;
}

.popup-header {
    font-weight: bold;
    cursor: grab;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.popup-header button {
    width: 3vh;
    height: 3vh;
    background-color: rgb(68, 68, 68);
    color: white;
    border: 0.05vh solid rgb(68, 68, 68);
    border-radius: 15%;
    margin-bottom: 20px;
}

.popup-body {
    display: flex;
    flex-direction: column;
}

.popup-entry {
    width: calc(100% - 5px);
    min-height: 20px;
    margin-bottom: 10px;
    padding: 2% 1%;
    background-color: transparent;
    border: 0.2vh solid rgb(68, 68, 68);
    border-radius: 13px;
    color: white;
    display: flex;
    flex-direction: column;
}

.popup-entry h1 {
    font-size: x-small;
    margin: 0;
    margin-left: 2px;
}

.popup-entry textarea {
    flex-grow: 1;
    background-color: transparent;
    border: 0;
    outline: none;
    color: white;
    resize: vertical;
    font-family: monospace;
    font-size: 13px;
}

.popup-delete {
    width: 80px;
    height: 30px;
    background-color: transparent;
    border: 0.2vh solid rgb(68, 68, 68);
    border-radius: 13px;
    color: white;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    font-family: monospace;
    font-size: 13px;
}

.icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    padding: 1% 2%;
}

.icon:active {
    background-color: #5c5c5c;
}

.icon-symbol {
    padding: 5px;
    border-radius: 50%;
}