.top-border {
    border-top: 2px solid #d8d8d8;
}

.comment {
    padding: 1.125rem 0;
}

.comment .info {
    display: flex;
    flex-direction: row;
}

.a4-comments__action-bar-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.variant-icon.active i {
    color: #007bff;
}